@model Assignment.Models.DBO.ChangePasswordWM

@{
    ViewData["Title"] = "Category updating";
    Layout = "~/Areas/Shop/Views/Shared/_Shop2Layout.cshtml";
}

<div class="col-9 grid-margin stretch-card" style="margin-left: 200px; margin-top: 100px;">
    <div class="card">
        <div class="card-body">
            <h4 class="text-info text-center">Update password for email: @Model.Email</h4>
            <p class="card-description"> Update below:</p>

            @using (Html.BeginForm("ChangePassword", "Home", new { area = "Admin" }, FormMethod.Post))
            {

                <input type="hidden" value="@Model.Email" name="email"/>
                <input type="hidden" value="@Model.Code" name="code" />
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" asp-for="Password" name="password"
                       class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" asp-for="ConfirmPassword"
                       class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27" asp-for="ConfirmPassword">Re-password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            }

        </div>
        <form asp-area="Admin" asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary" style="width:100%">Cancel</button>
        </form>
    </div>
</div>
