@{
    ViewData["Title"] = "View Blog";
}

<section class="container-guide">
    <div class="hot-book" style="margin-top: 20px">
    <section class="product1 section-p1">
        <h2>Guidlines using the web</h2>
        <p>In order to buy books, please following the below steps </p>
    </section>
    </div>
    <section class="guide-step">
        <h2>Step 1: Create an Account</h2>
        <div class="step">
            <img src="~/images/register.png" alt="">
            <p>To start using our online bookstore, you'll need to create an account.
                This is a simple process that requires you to provide your name, email address, and a password.</p>
        </div>
        <a class="uncover" href="#">Learn More</a>
    </section>

    <section class="guide-step">
        <h2>Step 2: Browse Books</h2>
        <div class="step">
            <img src="~/images/browse.png" alt="">
            <p>Our online bookstore has a wide selection of books available, from bestsellers to niche titles.
                You can browse the selection by category or use the search function to find specific titles or categories.</p>
        </div>
        <a class="uncover" href="#">Learn More</a>
    </section>

    <section class="guide-step">
        <h2>Step 3: Add Books to Your Cart</h2>
        <div class="step">
            <img src="~/images/addcart.png" alt="">
            <p>When you find a book you want to purchase, simply click the "Add to Cart" button.
                You can continue browsing and adding books to your cart until you're ready to check out.</p>
        </div>
        <a class="uncover" href="#">Learn More</a>
    </section>

    <section class="guide-step">
        <h2>Step 4: Check Out</h2>
        <div class="step">
            <img src="~/images/checkout.png" alt="">
            <p>To check out, click on the shopping cart icon in the top right corner of the page. 
                You'll be taken to a page where you can review your order and enter your shipping and billing information. 
                Once you've confirmed your order, you can complete the checkout process and wait for your books to arrive.</p>
        </div>
        <a class="uncover" href="#">Learn More</a>
    </section>
</section>
